* {
  font-family: 'Fira Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main-container {
  max-width: 90%;
  margin: 20px auto;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px 30px 20px 40px;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
