@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import modular CSS files */
@import '../styles/base.css';
@import '../styles/navbar.css';
@import '../styles/header.css';
@import '../styles/menu.css';