@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-gray-50;
  }
}

@layer utilities {
  .cart-bounce {
    animation: bounce 0.4s ease;
  }

  @keyframes bounce {
    0%, 100% { 
      transform: scale(1); 
    }
    50% { 
      transform: scale(1.3); 
    }
  }
}
